.content-header{
    width: 100%;
    height: 60px;
    background-color:azure;
    /* margin-top: 13px; */
    border-radius: 8px 8px 8px 8px;
    justify-content: baseline;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 0px;
}
.newones{
    width: 140px;
    height: 50px;
    background: radial-gradient(circle, rgba(13,172,173,1) 0%, rgba(208,76,192,1) 100%);
    /* background: radial-gradient(circle, rgba(208,76,192,1) 0%, rgba(13,172,173,1) 100%) !important; */
    border-style: none;
    border-radius: 4px;

}
.datav{
    /* margin: 30px 30px 30px 30px; */
    margin-top: 40px;
    border: 2px 2px 2px 2px solid !important;
    border-radius: 15px !important;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    
    font-size:medium;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: scroll;
    /* background: rgb(245, 246, 247); */
    background-color: rgb(151, 201, 201);
    

}
.bxdf{
    overflow-y: scroll;
}
.ledhed{
    height: 20px;
}